<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        <NavLink class="nav-link" href="/Identity/Account/Logout" Match="NavLinkMatch.All">
            <span class="oi oi-account-logout"></span> Log out
        </NavLink>
    </Authorized>
    <NotAuthorized>
        <NavLink class="nav-link" href="/Identity/Account/Register" Match="NavLinkMatch.All">
            <span class="oi oi-briefcase"></span> Register
        </NavLink>
        <NavLink class="nav-link" href="/Identity/Account/Login" Match="NavLinkMatch.All">
            <span class="oi oi-account-login"></span> Login
        </NavLink>
    </NotAuthorized>
</AuthorizeView>